/** @format */

@font-face {
  font-family: "Aljazeera";
  src: local("Aljazeera"), url(../fonts/Aljazeera.ttf) format("truetype");
}
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.paginatestyle {
  margin-top: 1000px;
}
.alert {
  padding: 0.8rem;
  margin: 1rem 0;

  opacity: 0.8;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.LoginButton {
  justify-content: center;
  margin-top: 25px;
  font-family: AlJazeera;
  font-size: 15px;
}

.AddUser {
  justify-content: center;
  margin-top: 25px;
  font-family: AlJazeera;
  font-size: 15px;
}

.LoginForm {
  margin-top: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

.footerstyle {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #222529;
  clear: both;
}

.rectangle {
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 80px;
  position: relative;
  background: #323741;
}

.footertext {
  padding-top: 18px;
  color: white;
}

.icons {
  margin-top: 35px;
}

.g-card {
  margin: 10px;
}

.g-card-image {
  border-radius: 15px;
  width: 350x;
  height: 350px;
  box-shadow: 3px 3px 3px 1px #ccc;
}

.g-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.g-card-title {
  font-size: 24px;
  margin: 0px;
}

.g-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.upspace {
  margin-top: 100px;
}

.homewmus {
  font-size: 35px;
  text-align: center;
  font-family: AlJazeera;
  font-style: inherit;
}

.HomeText {
  font-family: unset;
  font-style: italic;
  margin-left: 10px;
  text-align: justify;
  color: teal;
}

.homesmallicons {
  width: 75px;
  height: 75px;
  margin-top: 40px;
  align-items: center;
}

.texthomestyle {
  max-width: 200px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
  font-size: 15px;
  font-weight: lighter;
  font-family: AlJazeera;
  direction: rtl;
  text-align-last: center;
  margin-left: auto;
  margin-right: auto;
}
.articletit {
  text-align: right;
  font-family: AlJazeera;
  max-width: 1200px;
  margin-bottom: 50px;
}
.articledetail {
  max-width: 1200px;
  text-align: justify;
  margin-top: 20px;
  color: rgb(2, 12, 12);
  font-family: AlJazeera;
  text-align-last: right;
  margin-left: auto;
  margin-right: auto;
}

.Titlehomestyle {
  max-width: 200px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
  font-size: 19px;
  font-family: AlJazeera;
  direction: rtl;
  text-align-last: center;
  color: #108562;
  margin-left: auto;
  margin-right: auto;
}

.detailshomestyle {
  max-width: 200px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
  color: teal;
  font-family: AlJazeera;
  direction: rtl;
  text-align-last: center;
  margin-left: auto;
  margin-right: auto;
}
.centercol {
  margin-left: auto;
  margin-right: auto;
}

.HomeContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}

.homevaluestext {
  margin-top: 15px;
  font-size: 18px;
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
  vertical-align: middle;
  color: #323741;
}

.homevaluedetails {
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  color: teal;
}
.iframcustom {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 4px orange solid;
  box-shadow: 10px 10px 8px #888888;
  margin-left: auto;
  margin-right: auto;
}

.videotitlestyle {
  margin-left: 120px;
  font-family: initial;
  font-weight: lighter;
  font-style: inherit;
  font-size: 17px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: AlJazeera;
  color: black;
}

.videotitlestyle {
  margin-left: 120px;
  font-family: initial;
  font-weight: lighter;
  font-style: inherit;
  font-size: 17px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: AlJazeera;
  color: black;
}

.videotextstyle {
  margin-left: 80px;
  font-family: AlJazeera;
  color: teal;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  direction: rtl;
  text-align-last: center;
  text-align: justify;
}

.homeimagestyle {
  height: 250px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../assets/images/home.png");
}

.researchmagestyle {
  height: 250px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../assets/images/research.jpg");
}

.ResearchText {
  text-align: justify;
  color: teal;
  font-family: AlJazeera;
  direction: rtl;
}

.articlemagestyle {
  height: 250px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: url("../assets/images/Articles.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.videomagestyle {
  height: 250px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: url("../assets/images/Videos.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.RoundedImageStyle {
  border: 3px solid teal;
}

.booksmagestyle {
  height: 250px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: url("../assets/images/booksbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.linksimagestyle {
  height: 250px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: url("../assets/images/links.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.Questionsimagestyle {
  height: 250px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 40px;
  background-image: url("../assets/images/Questions.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.stylemaincontent {
  font-family: AlJazeera;
  color: rgb(255, 255, 255);
  font-size: 35px;
}
.PaginationStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.articleimage1style {
  height: 350px;
  width: 300px;
  border-style: dotted;
  box-shadow: #000000;
  border-color: green;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.bookimage1style {
  height: 250px;
  width: 175px;
  border-style: double;
  border-color: rgb(37, 21, 58);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.articleimage2style {
  height: 350px;
  width: 300px;
  border-style: dotted;
  border-color: green;
  background-image: url("../assets/images/article2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.videosmargin {
  margin-top: 30px;
}
.deletevideolist {
  margin-left: 1000px;
}
.articleimage3style {
  height: 350px;
  width: 300px;
  border-style: dotted;
  border-color: green;
  background-image: url("../assets/images/article3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.datestyle {
  font-size: 13px;
  font-weight: initial;
}
.articletextstyle {
  font-weight: initial;
  font-size: 15px;
  text-align: justify;
  font-family: AlJazeera;
}

.booklinkstyle {
  font-weight: initial;
  font-size: 15px;
  text-align: justify;
  font-family: AlJazeera;
}
.displayinline {
  display: inline;
}
.articleResource {
  color: orange;
  font-family: AlJazeera;
  direction: rtl;
}

.articletitle {
  margin-top: 13px;
  font-weight: lighter;
  font-size: 20px;
  font-family: AlJazeera;
}
.articlemaxwidth {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-align-last: center;
  font-family: AlJazeera;
  margin-top: 20px;
}

.articlerectangle {
  width: 300px;
  height: 2.5px;
  background: #000000;
  margin-left: auto;
  margin-right: auto;
}

.buttonposition {
  margin-top: -30px;
  z-index: 10;
  background-color: white;
  font-family: AlJazeera;
  font-size: 15px;
}
.tableDescription {
  font-family: AlJazeera;
  font-size: 18px;
  font-style: unset;
  direction: rtl;
}
.articleline {
  margin-right: 80px;
  margin-top: -20px;
}
.downarticle {
  margin-bottom: 30px;
}

.questionrectangle {
  width: 90%;
  height: auto;
  background: rgb(4, 77, 5);
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  display: flex;
  margin-bottom: 15px;
}

.questiontext {
  color: white;
  font-size: 16px;
  padding-top: 8px;
  margin-right: 50px;
  font-family: AlJazeera;
}
.thcolor {
  background-color: #383838;
}

.questionanswer {
  color: black;
  font-size: medium;
  padding-top: 10px;
  padding-left: 10px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  direction: rtl;
  font-family: AlJazeera;
  text-align: right;
}
.booksStyle {
  font-family: AlJAzeera;
}
.spright {
  margin-left: 4px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.ReseacheImage1 {
  background-image: url("../assets/images/article1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  border-style: solid;
  border-width: 1.5px;
  border-color: hsl(187, 89%, 33%);
  margin-left: auto;
  margin-right: auto;
}

.ReseacheImage2 {
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #098ea0;
  margin-left: auto;
  margin-right: auto;
}

.ReseacheImage3 {
  background-image: url("../assets/images/article3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #098ea0;
  margin-left: auto;
  margin-right: auto;
}

.ReseacheImage4 {
  background-image: url("../assets/images/article3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #098ea0;
  margin-left: auto;
  margin-right: auto;
}

.Reseachealignment {
  margin-left: 20px;
}
.researchcardbottomspace {
  margin-bottom: 50px;
}

.Fullscreen {
  width: 100%;
  left: 0;
}

.homeprogram1 {
  display: inline-block;
  width: auto;
  height: 80px;
  background: #108562;
}

.NavIteamsStyle {
  font-family: AlJazeera;
  color: #000000;
  margin-left: auto;
}

.navdir {
  direction: rtl;
}

.Navbutton {
  margin-right: 10px;
}
.navform {
  align-items: flex-start;
}

.programsmargin {
  margin-top: 35px;
}

.programlogo {
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.tablestyle {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  direction: rtl;
  align-content: center;
}

td {
  text-align: center;
  vertical-align: middle;
}

.CardTitle {
  font-family: AlJazeera;
}
.ReseachbuttonReadMore {
  font-family: AlJazeera;
}

th {
  text-align: center;
  color: #eee8e8;
  background-color: #0c8066;
  font-family: cursive;
}
td {
  color: lightseagreen;
  text-align: justify;
  font-style: oblique;
}
.HomeCardText {
  text-align: justify;
  color: teal;
  font-family: AlJazeera;
  text-align: center;
}
